asgiref==3.4.1
beautifulsoup4==4.10.0
dj-database-url==0.5.0
Django==3.2.8
django-better-admin-arrayfield==1.4.2
django-bootstrap-v5==1.0.6
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-heroku==0.3.1
django-json-widget==1.1.1
django-multiselectfield==0.1.12
future==0.18.2
importlib-metadata==3.10.1
jsonfield==3.1.0
numpy==1.21.3
opencv-contrib-python==4.5.4.58
opencv-python==4.5.4.58
Pillow==8.4.0
psycopg2==2.9.1
pytz==2021.3
soupsieve==2.2.1
sqlparse==0.4.2
whitenoise==5.3.0
zipp==3.6.0
gunicorn==19.0.0
opencv-contrib-python-headless
opencv-python-headless