{% extends "product/base.html" %}
{% block face %}
    <div class="camera__row shadow">
        <form>
            {% csrf_token %}
            <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0">Смотрите в камеру</span>
                    <button type=button onClick="take_snapshots()" class="btn btn btn-outline-info ms-auto" id="hider">Добавить</button>
                    <div id="info" class="alert alert-info" hidden="true">FaceId in process, DO NOT MOVE</div>
                </div>
            </nav>

            <div id="my_camera"></div>
        </form>
    </div>


    <!-- Script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">

        // Configure a few settings and attach camera
        Webcam.set({
            width: '900',
            height: '506',
            image_format: 'jpeg',
            jpeg_quality: 100
        });
        Webcam.attach('#my_camera');
        let imgArr = [];
        function take_snapshots() {
            document.getElementById('hider').hidden = true;
            document.getElementById('info').hidden = false;
            // take snapshot and get image data
            for (var i=0; i<=20; i++){
                take_snapshot();
            }
            sendData();
        }
        async function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                imgArr.push(data_uri);

            });
        }
            async function sendData() {
                json = null;
                await fetch('/adding-face/', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',

                    },
                    body: JSON.stringify(imgArr)
                })
                    .then((response) => response.json())
                    .then((responseJSON) => {
                        console.log(responseJSON);
                        if (responseJSON.data === 'Error') {
                            window.location.replace("/");
                        }
                    })
            }

    </script>
{% endblock face %}