{% extends "product/base.html" %}
{% block face %}
    <div class="camera__row shadow">
        <form>
            {% csrf_token %}
            <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0">Подтвердите свою личность</span>
                    <button type=button onClick="take_snapshot()" class="btn btn btn-outline-info ms-auto">Подтвердить</button>
                </div>
            </nav>
            <div id="error" class="alert alert-danger"></div>
            <div id="my_camera"></div>
        </form>
    </div>


    <!-- Script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        let error = document.getElementById('error');
        error.style.display = 'none';

        // Configure a few settings and attach camera
        Webcam.set({
            width: '900',
            height: '506',
            image_format: 'jpeg',
            jpeg_quality: 100
        });
        Webcam.attach('#my_camera');

        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                imgArr.push(data_uri);
                sendData()
            });
        }

        let imgArr = [];

        async function sendData() {
            json = null;
            await fetch('/face-recognition/', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',

                },
                body: JSON.stringify(imgArr)
            })
                .then((response) => response.json())
                .then((responseJSON) => {
                    console.log(responseJSON);
                    if ((responseJSON.data === 'Error') && (imgArr.length < 5)) {
                        error.style.display = 'block';
                        if (5 - imgArr.length > 1) {
                            error.innerHTML = 'Не удалось распознать сотрудника, осталось ' + (5 - imgArr.length) + ' попытки';
                        } else {
                            error.innerHTML = 'Не удалось распознать сотрудника, осталось ' + (5 - imgArr.length) + ' попытка';
                        }
                    } else {
                        window.location.replace("/login/");
                    }
                }).catch(err => {
                    error.style.display = 'block';
                    if (5 - imgArr.length > 1) {
                            error.innerHTML = 'Не удалось распознать сотрудника, осталось ' + (5 - imgArr.length) + ' попытки';
                    } else {
                            error.innerHTML = 'Не удалось распознать сотрудника, осталось ' + (5 - imgArr.length) + ' попытка';
                        }
                });
        }
    </script>
{% endblock face %}